body, html {
    height: 100%;
    margin: 0;
    font:"Lato", sans-serif;
    color: #777;
    scroll-behavior: smooth;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.87;
  
  }
  .bgimg-1 {
    background-image: url("./recourses/kere.jpg");
    min-height: 100%;
    margin: 0px;
  }
  
  .bgimg-2 {
    background-image: url("./recourses/coconut\ tree.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("./recourses/farm\ coco.jpg");
    min-height: 400px;
  }
  
  .bgimg-4{
    background-image: url("./recourses/land.jpg");
    min-height: 400px;
  }
  .bgimg-5{
    background-image: url("./recourses/land2.jpg");
    min-height: 100%;
  }
  .caption {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
    color: #000;
    font-family: Kanit;
  }

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  .center1{
    display: inline-block;
    position: relative;
    top: 150px;
    left: 561px;
    height: 20px;
    width: 739px;
    color: white;
    font-family: Kanit;
    font-size: 45px;
    font-weight: bold;
  }
  .center2{
    display: inline-block;
    position: relative;
    top: 310px;
    left: -301px;
    height: 20px;
    width: 739px;
    color: white;
    font-family: Kanit;
    font-size: 55px;
    font-weight: bold;
  }
  .center3{
    display: inline-block;
    position: relative;
    top: 441px;
    left: 175px;
    height: 100px;
    width: 87%;
    color: white;
    font-family: Kanit;
    font-size: 190px;
    font-weight: bold;
    
  }
  .center4{
    display: inline-block;
    position: relative;
    top: 240px;
    left: 149px;
    height: 100px;
    width: 90%;
    color: white;
    font-family: Kanit;
    font-size: 150px;
    font-weight: bold;
    
  }

  #menu{
    float: right;
}

ul{
    position: sticky;
    margin-top: 25px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
    /* background-color: rgba(255, 255, 255, 0.4); */
    height: 50px;
    /* border-radius: 25px; */
    margin: 0px;
}

#menu a{
    font-family: Oswald;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 44px;
    display: block;
    text-align: center;
    color: white;
}

#menu a:hover {  
    opacity: 90%;
    background-color: rgb(232, 243, 253,0.4); 
    
  }
  h4{
    margin-left: 57px;
    padding: 0px;
    margin-top: 10px;
    font-size: 20px;
    font-family: Kanit;
    font-weight: 1000;
    color: white;
}

.toparrow {
  position: relative;
}
.toparrow a{
  position: absolute;
  right: 40px;
  bottom: 17px;
  font-size: 70px;
  color: saddlebrown;
  top: -130px;
}
.toparrow img{
height: 50px;
width: 50px;
}







/* .bar{
  margin-left: 5px;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  position: absolute;
  white-space: nowrap;
} */


